Repository Cross-Lab-Project/crosslab: changes, and which Codecov flags are due for each by the changed paths.
All: python_api_client, python_soa_client

codecov.yml:

flags:
  python_api_client:
    paths:
      - clients/api/python/**/*
    carryforward: true
  python_soa_client:
    paths:
      - clients/soa/python/**/*
    carryforward: true

test
  scripts/helper/upload_artifacts.sh
Due: none

test
  .gitlab-ci.yml
Due: none

fix branch
  .gitlab-ci.yml
Due: none

added devcontainer
  .devcontainer.json
  .gitlab-ci.yml
Due: none

bugfixing
  clients/soa/python/package-lock.json
  clients/soa/python/src/crosslab/soa_client/schemas.py
  scripts/helper/path_hash.sh
Due: python_soa_client

bugfixing
  .gitlab-ci.yml
Due: none

Ci cd (#17)
  .devcontainer.json
  .gitlab-ci.yml
  clients/soa/python/package-lock.json
  clients/soa/python/package.json
  clients/soa/python/src/crosslab/soa_client/schemas.py
  package-lock.json
  scripts/helper/ci.sh
  scripts/helper/path_hash.sh
  scripts/helper/upload_artifacts.sh
  services/gateway/.gitignore
  services/gateway/package.resolved.json
Due: python_soa_client

update
  .gitlab-ci.yml
Due: none

bugfix
  .gitlab-ci.yml
Due: none

set gituser
  .gitlab-ci.yml
Due: none

update CI/CD
  .gitlab-ci.yml
  README.md
  clients/soa/python/README.md
  git-hooks/pre-commit
  scripts/helper/ci.sh
  scripts/housekeeping/generate_readme_badges.sh
  scripts/housekeeping/generate_readme_dependencies.sh
  scripts/install-hooks.sh
Due: python_soa_client

Ci cd (#18)
  .gitlab-ci.yml
  README.md
  git-hooks/pre-commit
  scripts/helper/ci.sh
  scripts/housekeeping/generate_readme_badges.sh
  scripts/housekeeping/generate_readme_dependencies.sh
  scripts/install-hooks.sh
  scripts/pre-merge.sh
Due: none

Modification for compatibility with goldi2 repository
  clients/api/python/scripts/build.sh
  clients/soa/python/scripts/build.sh
  clients/soa_services/electricalConnection/python/scripts/build.sh
  helper/common-scripts/node/build.sh
  helper/common-scripts/node/test.sh
  helper/common-scripts/python/build.sh
  helper/crosslab-typescript-addon/scripts/build.sh
  helper/development-container/scripts/publish.sh
  helper/openapi-codegeneration/scripts/build.sh
  helper/tsdoc-theme/scripts/build.sh
  scripts/ci.sh
  scripts/helper/ci.sh
  scripts/helper/create_badge.sh
  scripts/helper/download_job_artifact.sh
  scripts/helper/find_files.sh
  scripts/helper/path_hash.sh
  scripts/helper/upload_artifacts.sh
  scripts/housekeeping.sh
  scripts/housekeeping/generate_readme_badges.sh
  scripts/housekeeping/generate_readme_dependencies.sh
  scripts/housekeeping/generate_vscode_configs.sh
  scripts/install-hooks.sh
  scripts/pre-merge.sh
  scripts/run_local.sh
Due: python_api_client, python_soa_client

bugfixing path hash: different hash based on COLLATE
  README.md
  clients/soa/python/README.md
  scripts/helper/download_job_artifact.sh
  scripts/helper/path_hash.sh
Due: python_soa_client

changes for goldi
  .jobs.yml
  clients/soa_services/file/js/.gitignore
  clients/soa_services/file/js/package.resolved.json
  clients/soa_services/webcam/js/.gitignore
  clients/soa_services/webcam/js/package.resolved.json
  scripts/helper/ci.sh
  scripts/helper/download_job_artifact.sh
Due: none

rewrite python soa client with hand written typings (caused issues when used)
  clients/api/python/scripts/publish.sh
  clients/soa/python/.vscode/settings.json
  clients/soa/python/.vscode/tasks.json
  clients/soa/python/package-lock.json
  clients/soa/python/package.json
  clients/soa/python/scripts/build.sh
  clients/soa/python/scripts/publish.sh
  clients/soa/python/setup.cfg
  clients/soa/python/src/crosslab/soa_client/connection.py
  clients/soa/python/src/crosslab/soa_client/connection_webrtc.py
  clients/soa/python/src/crosslab/soa_client/device_handler.py
  clients/soa/python/src/crosslab/soa_client/messages.py
  clients/soa/python/src/crosslab/soa_client/schemas.py
  clients/soa/python/template/schemas.py.njk
  clients/soa/python/tests/helpers/mock_server.py
  clients/soa/python/tests/test_webrtc_connection.py
  clients/soa_services/electricalConnection/python/.vscode/extensions.json
  clients/soa_services/electricalConnection/python/.vscode/launch.json
  clients/soa_services/electricalConnection/python/.vscode/settings.json
  clients/soa_services/electricalConnection/python/.vscode/tasks.json
  clients/soa_services/electricalConnection/python/package-lock.json
  clients/soa_services/electricalConnection/python/package.json
  clients/soa_services/electricalConnection/python/scripts/publish.sh
  clients/soa_services/electricalConnection/python/setup.cfg
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/electrical_connection_service.py
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/messages.py
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/schema.py
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/signal_interface.py
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/signal_interfaces/gpio.py
  clients/soa_services/electricalConnection/python/template/schema.py.njk
  clients/soa_services/electricalConnection/python/tests/test_gpio.py
  clients/soa_services/electricalConnection/schemas/electrical_service_config.yml
  clients/soa_services/electricalConnection/schemas/gpio_interface_config.yml
Due: python_api_client, python_soa_client

Updated crosslab dependencies + generator
  services/booking/api/types.yml
  services/booking/dist/openapi.json
  services/booking/documentation-and-generation.fish
  services/booking/src/booking-backend/api/component.yml
  services/booking/src/booking-backend/api/openapi_start.yml
  services/booking/src/booking-backend/package-lock.json
  services/booking/src/booking-backend/package.json
  services/booking/src/booking-backend/src/index.ts
  services/booking/src/booking-backend/src/internal.ts
  services/booking/src/booking-backend/src/internals_test.ts
  services/booking/src/booking-backend/src/operations.ts
  services/booking/src/booking-frontend/api/component.yml
  services/booking/src/booking-frontend/api/openapi_start.yml
  services/booking/src/booking-frontend/package-lock.json
  services/booking/src/booking-frontend/package.json
  services/booking/src/booking-frontend/src/index.ts
  services/booking/src/booking-frontend/src/operations.ts
  services/booking/src/common/auth.ts
  services/booking/src/device-reservation/package-lock.json
  services/booking/src/device-reservation/package.json
  services/booking/src/schedule-service/api/openapi_start.yml
  services/booking/src/schedule-service/package-lock.json
  services/booking/src/schedule-service/package.json
  services/booking/src/schedule-service/src/booking_test.ts
  services/booking/src/schedule-service/src/index.ts
  services/booking/src/schedule-service/src/operations.ts
Due: none

Device 2 Device Integration Test
  helper/api-test/docker/build-docker-dev-images.bat
  helper/api-test/docker/build-docker-dev-images.sh
  helper/api-test/docker/docker-compose.yml
  helper/api-test/docker/reset-docker-dev.bat
  helper/api-test/docker/reset-docker-dev.sh
  helper/api-test/package-lock.json
  helper/api-test/package.json
  helper/api-test/src/config.ts
  helper/api-test/src/index.ts
  helper/api-test/src/tests/experiment.spec.ts
  helper/api-test/src/tests/testdata.spec.ts
  integration-test/.eslintrc
  integration-test/.gitignore
  integration-test/.prettierrc.js
  integration-test/.vscode/launch.json
  integration-test/debug.ini
  integration-test/package-lock.json
  integration-test/package.json
  integration-test/requirements.txt
  integration-test/scripts/lint.sh
  integration-test/scripts/test.sh
  integration-test/src/config.ts
  integration-test/src/context.d.ts
  integration-test/src/fixtures/debug.ts
  integration-test/src/fixtures/dummyDevice.ts
  integration-test/src/fixtures/localServer.config.ts
  integration-test/src/fixtures/localServer.ts
  integration-test/src/index.ts
  integration-test/src/tests/client_to_client.spec.ts
  integration-test/src/tests/experiment.spec.ts
  integration-test/src/tests/testdata.spec.ts
  integration-test/tsconfig.json
Due: none

Updated Gateway to be able to run in dev container
  helper/common-scripts/node/build-docker.sh
  scripts/run_local.sh
  services/gateway/.gitignore
  services/gateway/Dockerfile
  services/gateway/conf/api_backends.conf
  services/gateway/conf/api_gateway.conf
  services/gateway/conf/nginx.conf
  services/gateway/create_config.sh
  services/gateway/scripts
  services/gateway/scripts/build-docker.sh
  services/gateway/scripts/build.sh
  services/gateway/scripts/create_config.sh
Due: none

implements js dummy device (chrome)
  helper/dummy-device/js/.eslintrc
  helper/dummy-device/js/.gitignore
  helper/dummy-device/js/.vscode/launch.json
  helper/dummy-device/js/package-lock.json
  helper/dummy-device/js/package.json
  helper/dummy-device/js/package.resolved.json
  helper/dummy-device/js/scripts
  helper/dummy-device/js/src-web/index.html
  helper/dummy-device/js/src-web/index.ts
  helper/dummy-device/js/src/index.ts
  helper/dummy-device/js/tsconfig.json
  helper/dummy-device/js/tsconfig.web.json
  helper/dummy-device/js/webpack.config.js
Due: none

implements python dummy device
  helper/dummy-device/python/.gitignore
  helper/dummy-device/python/.tox/.pkg/file.lock
  helper/dummy-device/python/.vscode/launch.json
  helper/dummy-device/python/.vscode/settings.json
  helper/dummy-device/python/.vscode/tasks.json
  helper/dummy-device/python/pyproject.toml
  helper/dummy-device/python/requirements.txt
  helper/dummy-device/python/scripts/build.sh
  helper/dummy-device/python/scripts/lint.sh
  helper/dummy-device/python/setup.cfg
  helper/dummy-device/python/setup.py
  helper/dummy-device/python/src/dummy_device/__init__.py
  helper/dummy-device/python/src/dummy_device/__main__.py
  helper/dummy-device/python/src/dummy_device/py.typed
  helper/dummy-device/python/tox.ini
Due: none

client debugging
  clients/soa/js/src/deviceHandler.ts
  clients/soa/js/src/peer/connection.ts
  clients/soa/js/src/peer/dummy.ts
  clients/soa/js/src/peer/webrtc-connection.ts
  clients/soa/python/src/crosslab/soa_client/connection.py
  clients/soa/python/src/crosslab/soa_client/connection_webrtc.py
  clients/soa/python/src/crosslab/soa_client/device_handler.py
  clients/soa_services/electricalConnection/js/package-lock.json
  clients/soa_services/electricalConnection/js/src/gpio/connectionInterface.ts
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/signal_interfaces/gpio.py
Due: python_soa_client

fixed pipeline
  README.md
  clients/soa/python/src/crosslab/soa_client/connection.py
  clients/soa/python/src/crosslab/soa_client/connection_webrtc.py
  clients/soa_services/electricalConnection/js/package-lock.json
  clients/soa_services/electricalConnection/python/scripts/build.sh
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/signal_interfaces/gpio.py
  scripts/helper/find_files.sh
Due: python_soa_client

integration test ci
  .jobs.yml
  README.md
  helper/common-scripts/node/lint-code.sh
  helper/dummy-device/js/.gitignore
  integration-test/.gitignore
Due: none

debug integration test dependencies
  helper/dummy-device/js/package.json
  helper/dummy-device/python/setup.cfg
  integration-test/.gitignore
  integration-test/package-lock.json
  integration-test/package.json
  integration-test/requirements.txt
  integration-test/src/fixtures/dummyDevice.ts
  integration-test/src/fixtures/localServer.config.ts
  integration-test/src/fixtures/localServer.ts
Due: none

ci test
  .gitlab-ci.yml
  .jobs.yml
  README.md
  helper/common-scripts/node/lint-code.sh
  scripts/helper/ci.sh
  scripts/helper/job_parsing.sh
Due: none

pipeline bugfixing
  .gitlab-ci.yml
Due: none

update gitignore
  helper/crosslab-typescript-addon/.gitignore
  helper/crosslab-typescript-addon/package.resolved.json
  helper/openapi-codegeneration/.gitignore
  helper/openapi-codegeneration/package.resolved.json
Due: none

bugfix
  helper/openapi-codegeneration/scripts/build.sh
Due: none

update packages
  clients/api/js/package-lock.json
  clients/api/python/package-lock.json
  helper/crosslab-typescript-addon/package-lock.json
  helper/dummy-device/js/package-lock.json
  scripts/housekeeping/update_package_lock.sh
  services/booking/package-lock.json
  services/device/package-lock.json
  services/experiment/package-lock.json
  services/federation/package-lock.json
  services/openapi/package-lock.json
  services/update/package-lock.json
Due: python_api_client

bugfixing
  helper/crosslab-typescript-addon/scripts/build.sh
  helper/crosslab-typescript-addon/src/filters/typescript/index.ts
Due: none

update packages
  clients/api/js/package-lock.json
  clients/api/python/package-lock.json
  helper/dummy-device/js/package-lock.json
  services/auth/package-lock.json
  services/device/package-lock.json
  services/experiment/package-lock.json
  services/federation/package-lock.json
  services/update/package-lock.json
Due: python_api_client

fixed codegeneration path issues
  helper/crosslab-typescript-addon/.vscode/launch.json
  helper/openapi-codegeneration/.vscode/launch.json
  helper/openapi-codegeneration/src/addon.ts
  helper/openapi-codegeneration/src/index.ts
Due: none

new (local) dependency resolution
  clients/api/js/package-lock.json
  clients/api/js/package.json
  clients/api/python/package-lock.json
  clients/api/python/package.json
  clients/api/python/scripts/build.sh
  clients/soa_services/electricalConnection/js/package-lock.json
  clients/soa_services/electricalConnection/js/package.json
  clients/soa_services/file/js/package-lock.json
  clients/soa_services/file/js/package.json
  clients/soa_services/webcam/js/package-lock.json
  clients/soa_services/webcam/js/package.json
  helper/common-scripts/node/build-docker.sh
  helper/common-scripts/node/build.sh
  helper/common-scripts/node/lint-code.sh
  helper/common-scripts/node/replace_links_with_version.sh
  helper/common-scripts/node/set-scene.sh
  helper/common-scripts/node/test.sh
  helper/common-scripts/python/build.sh
  helper/crosslab-typescript-addon/package-lock.json
  helper/crosslab-typescript-addon/package.json
  helper/dummy-device/js/package-lock.json
  helper/dummy-device/js/package.json
  helper/dummy-device/package-lock.json
  helper/tsdoc-theme/scripts/build.sh
  integration-test/package-lock.json
  integration-test/package.json
  integration-test/scripts/lint.sh
  scripts/helper/ci.sh
  services/auth/package-lock.json
  services/auth/package.json
  services/device/package-lock.json
  services/device/package.json
  services/experiment/package-lock.json
  services/experiment/package.json
  services/federation/package-lock.json
  services/federation/package.json
  services/gateway/scripts/build.sh
  services/update/package-lock.json
  services/update/package.json
Due: python_api_client
