Repository Cross-Lab-Project/crosslab: changes, and which Codecov flags are due for each by the changed paths.
All: python_api_client, python_soa_client

Send URL+ID in Callback
  services/booking/src/booking-backend/src/internal.ts
Due: none

Fixed line length of API strings
  services/booking/api/types.yml
  services/booking/src/booking-backend/api/component.yml
  services/booking/src/booking-frontend/api/component.yml
Due: none

Updated config files to get all vars from env
  services/booking/src/booking-backend/src/config.ts
  services/booking/src/device-reservation/src/config.ts
  services/booking/src/device-reservation/src/mainLoop.ts
  services/booking/src/device-reservation/src/mainLoop_test.ts
  services/booking/src/schedule-service/src/config.ts
Due: none

Don't allow anonymous user to create bookings
  services/authorization/policy/crosslab.rego
Due: none

Fixed test with config change
  services/booking/src/device-reservation/src/index.ts
  services/booking/src/device-reservation/src/mainLoop.ts
  services/booking/src/test_common/src/devicereservationhelper.ts
Due: none

wip booking service integration
  .jobs.yml
  clients/api/python/src/crosslab/api_client/client.py
  services/booking/src/booking-backend/package.json
  services/booking/src/booking-backend/src/index.ts
  services/booking/src/booking-backend/src/lib.ts
  services/booking/src/booking-frontend/src/index.ts
  services/booking/src/booking-frontend/src/operations/index.ts
  services/booking/src/common/package.json
  services/booking/src/common/src/clients/booking-frontend/client.ts
  services/booking/src/common/src/clients/booking-frontend/requestValidation.ts
  services/booking/src/common/src/clients/booking-frontend/signatures.ts
  services/booking/src/device-reservation/package.json
  services/booking/src/device-reservation/src/index.ts
  services/booking/src/device-reservation/src/lib.ts
  services/booking/src/schedule-service/src/index.ts
  services/device/src/clients/authentication/client.ts
  services/device/src/clients/device/client.ts
  services/device/src/clients/federation/client.ts
  services/experiment/src/clients/booking-frontend/requestValidation.ts
  services/experiment/src/clients/booking-frontend/signatures.ts
  services/experiment/src/clients/device/client.ts
  services/experiment/src/clients/schedule-service/client.ts
Due: python_api_client

Added more debugging logs
  services/booking/src/booking-backend/src/internal.ts
  services/booking/src/common/src/clients/booking-backend/basicValidation.cjs
  services/booking/src/common/src/clients/booking-backend/client.ts
  services/booking/src/common/src/clients/booking-backend/types.ts
  services/booking/src/common/src/clients/booking-frontend/basicValidation.cjs
  services/booking/src/common/src/clients/booking-frontend/client.ts
  services/booking/src/common/src/clients/booking-frontend/requestValidation.ts
  services/booking/src/common/src/clients/booking-frontend/signatures.ts
  services/booking/src/common/src/clients/booking-frontend/types.ts
  services/booking/src/common/src/clients/schedule-service/basicValidation.cjs
  services/booking/src/common/src/clients/schedule-service/types.ts
  services/booking/src/schedule-service/src/operations/index.ts
Due: none

add error logging
  services/booking/src/booking-frontend/src/operations/index.ts
Due: none

Plastering bigint to string everywhere
  services/booking/src/booking-backend/src/amqpHandle.ts
  services/booking/src/booking-backend/src/internal.ts
  services/booking/src/booking-backend/src/operations/index.ts
  services/booking/src/booking-frontend/src/operations/index.ts
  services/booking/src/booking-frontend/src/operations/index_test.ts
  services/booking/src/schedule-service/src/operations/index.ts
Due: none

Do not free devices not booked
  services/booking/src/booking-backend/src/internal.ts
Due: none

Always ack free message
  services/booking/src/booking-backend/src/amqpHandle.ts
Due: none

Support milliseconds
  services/booking/sql/booking.sql
  services/booking/src/booking-frontend/package-lock.json
  services/booking/src/booking-frontend/src/operations/index_test.ts
  services/booking/src/test_common/src/setup.ts
Due: none

wip booking service integration
  .jobs.yml
  helper/crosslab-typescript-addon/templates/service-client/client.ts.njk
  integration-test/config/mariadb/00_init_dbs_and_users.sql
  integration-test/docker-compose.yaml
  integration-test/scripts/test.sh
  integration-test/src/helper/experimentTest.ts
  services/booking/sql/device-reservation.sql
  services/booking/src/booking-backend/src/internal.ts
  services/booking/src/booking-frontend/src/operations/index.ts
  services/booking/src/common/src/auth.ts
  services/booking/src/common/src/clients/booking-backend/basicValidation.cjs
  services/booking/src/common/src/clients/booking-backend/client.ts
  services/booking/src/common/src/clients/booking-backend/types.ts
  services/booking/src/common/src/clients/booking-frontend/basicValidation.cjs
  services/booking/src/common/src/clients/booking-frontend/client.ts
  services/booking/src/common/src/clients/booking-frontend/requestValidation.ts
  services/booking/src/common/src/clients/booking-frontend/signatures.ts
  services/booking/src/common/src/clients/booking-frontend/types.ts
  services/booking/src/common/src/clients/device/client.ts
  services/booking/src/common/src/clients/schedule-service/basicValidation.cjs
  services/booking/src/common/src/clients/schedule-service/client.ts
  services/booking/src/common/src/clients/schedule-service/types.ts
  services/booking/src/common/src/config.ts
  services/booking/src/schedule-service/src/operations/index.ts
  services/device/src/clients/authentication/client.ts
  services/device/src/clients/device/client.ts
  services/device/src/clients/federation/client.ts
  services/experiment/src/clients/booking-backend/client.ts
  services/experiment/src/clients/booking-frontend/client.ts
  services/experiment/src/clients/device/client.ts
  services/experiment/src/clients/schedule-service/client.ts
  services/experiment/src/methods/experimentStatus/book.ts
  services/experiment/src/types/typeguards.ts
  services/lti/src/clients/authentication/client.ts
  services/lti/src/clients/experiment/client.ts
Due: none

wip integration booking service
  integration-test/docker-compose.yaml
  integration-test/scripts/test.sh
Due: none

wip booking service integration
  deployment/production/core/config/mariadb/00_init_dbs_and_users.sql
  services/device/src/database/migrations/mariadb/1721035482365-RemoveAnnouncedAvailability.ts
  services/device/src/database/migrations/mariadb/index.ts
  services/device/src/database/migrations/sqlite/1721035468806-RemoveAnnouncedAvailability.ts
  services/device/src/database/migrations/sqlite/index.ts
  services/device/src/database/model.ts
  services/device/src/database/repositories/device/concreteDevice.ts
  services/device/src/globals.ts
  services/device/src/operations/devices/device/availability/post.ts
Due: none

deleted old logging system - added logging labels for loki
  services/authorization/src/app.ts
  services/authorization/src/index.ts
  services/authorization/test/fixtures/subsystems.ts
  services/common/src/handlers/errorHandler.ts
  services/common/src/handlers/index.ts
  services/common/src/handlers/logHandling.ts
  services/common/src/handlers/missingRouteHandling.ts
  services/common/src/handlers/requestIdHandling.ts
  services/common/src/index.ts
  services/common/src/logger.ts
  services/common/src/logging/config.ts
  services/common/src/logging/helper.ts
  services/common/src/logging/logging.ts
  services/common/src/utils.ts
  services/lti/src/app.ts
Due: none

add env for integration-test
  integration-test/.env
Due: none

fix js client logging
  clients/soa/js/package.json
  clients/soa/js/src/deviceHandler.ts
  clients/soa/js/src/logging.ts
  clients/soa/js/src/peer/webrtc-connection.ts
Due: none

implement python client logging
  clients/soa/python/src/crosslab/soa_client/connection_webrtc.py
  clients/soa/python/src/crosslab/soa_client/device_handler.py
  clients/soa/python/src/crosslab/soa_client/logging.py
  clients/soa/python/src/crosslab/soa_client/messages.py
Due: python_soa_client

lint and test issues
  clients/soa/python/src/crosslab/soa_client/logging.py
Due: python_soa_client

chore: Add support for different connection type in service description schema
  services/device/api/schemas/devices/services/service_description.yml
Due: none

update python version
  clients/api/python/.gitignore
  clients/api/python/setup.cfg
  clients/api/python/tox.ini
  clients/gift_example/.gitignore
  clients/soa/python/.gitignore
  clients/soa/python/setup.cfg
  clients/soa/python/src/crosslab/soa_client/test_helper/service_stub.py
  clients/soa/python/tox.ini
  clients/soa_services/electricalConnection/python/.gitignore
  clients/soa_services/electricalConnection/python/setup.cfg
  clients/soa_services/electricalConnection/python/tox.ini
  clients/soa_services/file/python/.gitignore
  clients/soa_services/file/python/setup.cfg
  clients/soa_services/file/python/tox.ini
  clients/soa_services/message/python/.gitignore
  clients/soa_services/message/python/setup.cfg
  clients/soa_services/message/python/tox.ini
  clients/soa_services/parameter/python/.gitignore
  clients/soa_services/parameter/python/setup.cfg
  clients/soa_services/parameter/python/tox.ini
  clients/soa_services/webcam/python/.gitignore
  clients/soa_services/webcam/python/setup.cfg
  clients/soa_services/webcam/python/tox.ini
  helper/python-test-helper/.gitignore
  helper/python-test-helper/setup.cfg
  helper/python-test-helper/tox.ini
Due: python_api_client, python_soa_client

chore: Update .gitlab-ci.yml to handle CI_COMMIT_TAG properly
  .gitlab-ci.yml
Due: none

add cookieless authentication
  services/lti/.env
  services/lti/Dockerfile
  services/lti/package.json
  services/lti/src/app.ts
  services/lti/src/config.ts
  services/lti/src/database/datasource.ts
  services/lti/src/database/migrations/mariadb/1721813798280-Add-Message-Model.ts
  services/lti/src/database/migrations/sqlite/1721813809433-Add-Message-Model.ts
  services/lti/src/database/model.ts
  services/lti/src/lti/message.ts
Due: none

update packags
  services/lti/package-lock.json
  services/lti/src/lti/message.ts
Due: none

websocket Test python
  clients/soa/python/tests/test_websocket_connection.py
Due: python_soa_client

Add bound_relate function to authorization middleware resolve Typorm typing issue added util removeNullOrUndefined
  services/common/src/authorization/middleware.ts
  services/common/src/config.ts
  services/common/src/utils.ts
Due: none

wip: forwarding service integration
  clients/soa/js/src/peer/websocket-connection.ts
  clients/soa/python/src/crosslab/soa_client/connection.py
  clients/soa/python/src/crosslab/soa_client/connection_websocket.py
  clients/soa/python/tests/test_websocket_connection.py
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/electrical_connection_service.py
  clients/soa_services/file/python/.vscode/settings.json
  clients/soa_services/file/python/src/crosslab/soa_services/file/file_service.py
  common/node/scripts/build.sh
  deployment/production/core/docker-compose.yml
  integration-test/src/tests/gpio_transmit_without_driver.spec.ts
  services/device/package-lock.json
  services/experiment/package-lock.json
  services/experiment/src/methods/connectionPlan.ts
  services/federation/package-lock.json
  services/forwarding/package-lock.json
  services/forwarding/package.json
  services/forwarding/src/app.ts
  services/forwarding/src/config.ts
  services/forwarding/src/globals.ts
  services/forwarding/src/methods/forwardingQueue.ts
  services/forwarding/src/operations/rooms/post.ts
  services/forwarding/src/operations/rooms/room/delete.ts
  services/forwarding/src/operations/rooms/room/patch.ts
  services/forwarding/src/operations/rooms/room/ws.ts
  services/forwarding/test/test.spec.ts
  services/lti/package-lock.json
  services/lti/package.json
Due: python_soa_client

bugfixes
  services/device/src/database/repositories/device/concreteDevice.ts
  services/device/src/database/repositories/device/deviceGroup.ts
  services/device/src/database/repositories/device/instantiableBrowserDevice.ts
  services/device/src/database/repositories/device/instantiableCloudDevice.ts
  services/experiment/src/methods/connectionPlan.ts
  services/experiment/src/methods/experimentStatus/setup/index.ts
  services/experiment/src/methods/experimentStatus/setup/peerconnectionCreation.ts
  services/experiment/src/methods/statusUpdateMessage.ts
Due: none

Fixed URL comparison
  services/booking/src/booking-backend/src/internal.ts
Due: none

use tar package instead of direct symlinking dependencies (resolves type conflicts in typescript 5.5)
  clients/api/js/package.json
  clients/api/python/package.json
  clients/soa_services/electricalConnection/js/package.json
  clients/soa_services/file/js/package.json
  clients/soa_services/message/js/package.json
  clients/soa_services/parameter/js/package.json
  clients/soa_services/webcam/js/package.json
  common/docker/scripts/build-node.sh
  common/node/scripts/build.sh
  frontend/edrys/package.json
  helper/cli/package.json
  helper/crosslab-typescript-addon/package.json
  helper/dummy-device/js/package.json
  integration-test/package.json
  services/auth/package.json
  services/authorization/package.json
  services/booking/src/booking-backend/package.json
  services/booking/src/booking-backend/scripts/build.sh
  services/booking/src/booking-frontend/package.json
  services/booking/src/booking-frontend/scripts/build.sh
  services/booking/src/common/scripts/build.sh
  services/booking/src/device-reservation/package.json
  services/booking/src/device-reservation/scripts/build.sh
  services/booking/src/schedule-service/package.json
  services/booking/src/schedule-service/scripts/build.sh
  services/booking/src/test_common/package.json
  services/booking/src/test_common/scripts/build.sh
  services/device/package.json
  services/experiment/package.json
  services/federation/package.json
  services/lti/package.json
  services/template/package.json
  services/update/package.json
Due: python_api_client

Path conditions:
  python_api_client: any of: clients/api/python/**/*
  python_soa_client: any of: clients/soa/python/**/*
