Repository Cross-Lab-Project/crosslab: changes, and which Codecov flags are due for each by the changed paths.
All: python_api_client, python_soa_client

update gateway to forward the new routes
  services/gateway/conf/auth_service.conf
  services/gateway/conf/device_service.conf
Due: none

typescript addon v0.0.6 and api-client v0.1.1
  clients/api/js/package-lock.json
  clients/api/js/package.json
  helper/crosslab-typescript-addon/package-lock.json
  helper/crosslab-typescript-addon/package.json
  helper/crosslab-typescript-addon/src/templates/client/client.ts.njk
Due: none

add get method for accessToken in js api-client
  clients/api/js/package-lock.json
  clients/api/js/package.json
  helper/crosslab-typescript-addon/package-lock.json
  helper/crosslab-typescript-addon/package.json
  helper/crosslab-typescript-addon/src/templates/client/client.ts.njk
Due: none

WIP
  clients/api/js/.devcontainer/devcontainer.json
  clients/api/js/package-lock.json
  clients/api/js/package.json
  helper/openapi-codegeneration-v2/src/index.ts
  helper/openapi-codegeneration/.devcontainer/devcontainer.json
Due: none

update vs code settings
  .vscode/settings.json
  clients/.vscode/settings.json
  clients/api/.vscode/settings.json
  clients/api/js/.vscode/.hidden
  clients/api/js/.vscode/settings.json
  clients/api/python/.vscode/settings.json
  clients/soa/.vscode/.hidden
  clients/soa/python/.vscode/settings.json
  helper/.vscode/.hidden
  helper/.vscode/settings.json
  helper/crosslab-typescript-addon/.vscode/settings.json
  helper/openapi-codegeneration/.vscode/settings.json
  helper/tsdoc-theme/.vscode/settings.json
  services/.vscode/settings.json
  services/federation/.vscode/settings.json
Due: python_api_client, python_soa_client

Work on code generation
  clients/api/js/package-lock.json
  clients/api/js/package.json
  clients/api/python/package-lock.json
  clients/api/python/package.json
  clients/api/python/requirements.txt
  clients/api/python/scripts/build.sh
  clients/api/python/scripts/test.sh
  clients/api/python/setup.py
  clients/api/python/src/crosslab_api_client/client.py
  clients/api/python/src/crosslab_api_client/exceptions.py
  clients/api/python/src/crosslab_api_client/schemas.py
  clients/api/python/template/client.py.njk
  clients/api/python/test_template/test_openapi.py.njk
  clients/api/python/tests/test_openapi.py
  clients/api/python/tox.ini
  helper/crosslab-typescript-addon/package-lock.json
  helper/crosslab-typescript-addon/package.json
  helper/openapi-codegeneration/package-lock.json
  helper/openapi-codegeneration/src/index.ts
  package-lock.json
Due: python_api_client

devcontainer for python api
  clients/api/python/.devcontainer/Dockerfile
  clients/api/python/.devcontainer/devcontainer.json
Due: python_api_client

implements schema readOnly/writeOnly support
  clients/api/python/src/crosslab_api_client/client.py
  clients/api/python/src/crosslab_api_client/schemas.py
  clients/api/python/template/client.py.njk
  clients/api/python/test_template/test_openapi.py.njk
  clients/api/python/tests/test_openapi.py
  helper/openapi-codegeneration/src/index.ts
Due: python_api_client

add builds scripts for helper
  helper/crosslab-typescript-addon/scripts/build.sh
  helper/openapi-codegeneration/scripts/build.sh
  helper/tsdoc-theme/scripts/build.sh
Due: none

bugfixing helper buildscripts
  helper/crosslab-typescript-addon/scripts/build.sh
  helper/openapi-codegeneration/scripts/build.sh
  helper/tsdoc-theme/scripts/build.sh
Due: none

added buildscripts
  clients/api/js/scripts/build.sh
  clients/api/js/scripts/test.sh
  services/auth/scripts/build.sh
  services/auth/scripts/lint.sh
  services/booking/scripts/build.sh
  services/booking/scripts/lint.sh
  services/device/scripts/build.sh
  services/device/scripts/lint.sh
  services/experiment/scripts/build.sh
  services/experiment/scripts/lint.sh
  services/federation/scripts/build.sh
  services/federation/scripts/lint.sh
  services/gateway/scripts/build.sh
  services/openapi/scripts/build.sh
  services/openapi/scripts/lint.sh
  services/update/scripts/build.sh
  services/update/scripts/lint.sh
Due: none

resolve build conflicts
  services/auth/package.json
  services/auth/scripts/build.sh
  services/booking/package.json
  services/device/package.json
  services/device/scripts/build.sh
  services/experiment/package.json
  services/experiment/scripts/build.sh
  services/federation/package.json
  services/federation/scripts/build.sh
  services/openapi/package.json
  services/update/package.json
  services/update/scripts/build.sh
Due: none

updated booking service
  services/booking/dist/openapi.json
  services/booking/package-lock.json
Due: none

remove prepare scripts (colliding with ci)
  clients/api/js/package.json
  clients/soa/js/package.json
  clients/soa_services/electricalConnection/js/package.json
  clients/soa_services/file/js/package.json
  clients/soa_services/webcam/js/package.json
  helper/crosslab-typescript-addon/package.json
  helper/openapi-codegeneration/package.json
  helper/tsdoc-theme/package.json
  services/booking/scripts/build.sh
  services/openapi/package.json
Due: none

update composite openapi document
  services/openapi/dist/openapi.json
Due: none

bugfixing
  services/openapi/scripts/build.sh
Due: none

Update booking service api descriptions
  services/booking/api/openapi.yml
  services/booking/dist/openapi.json
Due: none

Update composite openapi document
  services/openapi/dist/openapi.json
Due: none

bugfix for client generation
  clients/api/.vscode/settings.json
  clients/api/js/.vscode/.hidden
  clients/api/js/package-lock.json
  clients/api/js/scripts/build.sh
  helper/openapi-codegeneration/package-lock.json
  helper/openapi-codegeneration/package.json
  helper/openapi-codegeneration/scripts/build.sh
  helper/openapi-codegeneration/src/index.ts
Due: none

updated build script for python api client
  clients/api/python/scripts/build.sh
Due: python_api_client

update package-lock for python api
  clients/api/python/package-lock.json
Due: python_api_client

fix build errors
  clients/api/python/tests/test_openapi.py
  helper/openapi-codegeneration/src/index.ts
  services/booking/scripts/lint.sh
Due: python_api_client

non deterministic test generation fixed
  clients/api/python/package-lock.json
  clients/api/python/tests/test_openapi.py
  helper/openapi-codegeneration/package-lock.json
  helper/openapi-codegeneration/package.json
  helper/openapi-codegeneration/src/filter.ts
Due: python_api_client

add devcontainers
  services/auth/.devcontainer/devcontainer.json
  services/booking/.devcontainer/devcontainer.json
  services/device/.devcontainer/devcontainer.json
  services/experiment/.devcontainer/devcontainer.json
  services/federation/.devcontainer/devcontainer.json
  services/gateway/.devcontainer/devcontainer.json
  services/openapi/.devcontainer/devcontainer.json
  services/update/.devcontainer/devcontainer.json
Due: none

add linting jobs
  services/auth/scripts/lint.sh
  services/booking/scripts/lint.sh
  services/device/scripts/lint.sh
  services/experiment/scripts/lint.sh
  services/federation/scripts/lint.sh
  services/openapi/package-lock.json
  services/openapi/scripts/lint.sh
  services/update/scripts/lint.sh
Due: none

bugfix
  clients/api/js/package-lock.json
  clients/api/js/scripts/test.sh
  services/auth/api/openapi.yml
  services/auth/package.json
  services/auth/redocly.yaml
  services/booking/package.json
  services/booking/redocly.yaml
  services/device/api/openapi.yml
  services/device/package.json
  services/device/redocly.yaml
  services/experiment/api/openapi.yml
  services/experiment/package.json
  services/experiment/redocly.yaml
  services/federation/api/openapi.yml
  services/federation/package-lock.json
  services/federation/package.json
  services/federation/redocly.yaml
  services/openapi/openapi.yml
  services/openapi/package.json
  services/openapi/redocly.yaml
  services/update/api/openapi.yml
  services/update/package.json
  services/update/redocly.yaml
Due: none

bugfixing js client
  clients/api/js/package-lock.json
  services/auth/api/openapi.yml
  services/auth/redocly.yaml
  services/booking/redocly.yaml
  services/device/api/openapi.yml
  services/device/redocly.yaml
  services/experiment/api/openapi.yml
  services/experiment/redocly.yaml
  services/federation/api/openapi.yml
  services/federation/redocly.yaml
  services/openapi/openapi.yml
  services/openapi/redocly.yaml
  services/update/api/openapi.yml
  services/update/redocly.yaml
Due: none

add linting job for python client
  clients/api/python/scripts/lint.sh
  clients/api/python/tox.ini
Due: python_api_client

bugfixing
  clients/api/.vscode/settings.json
  clients/api/js/.vscode/settings.json
  helper/crosslab-typescript-addon/.devcontainer/devcontainer.json
  helper/crosslab-typescript-addon/package-lock.json
  helper/crosslab-typescript-addon/package.json
  helper/crosslab-typescript-addon/scripts/build.sh
  helper/tsdoc-theme/.devcontainer/devcontainer.json
  helper/tsdoc-theme/scripts/build.sh
Due: none

bugixing
  services/auth/redocly.yaml
Due: none

Fix linting errors for device and experiment service
  services/device/api/resources/device.yml
  services/device/api/resources/devices.yml
  services/device/api/resources/peerconnections.yml
  services/device/dist/openapi.json
  services/device/redocly.yaml
  services/experiment/api/resources/experiment.yml
  services/experiment/api/resources/experiments.yml
  services/experiment/dist/openapi.json
Due: none

Update composite api description
  services/openapi/dist/openapi.json
  services/openapi/openapi.yml
  services/openapi/redocly.yaml
Due: none

bugfixing python client
  clients/api/python/scripts/lint.sh
  clients/api/python/scripts/test.sh
  clients/api/python/tox.ini
Due: python_api_client

Update user schema to include url property
  clients/api/js/package-lock.json
  clients/api/js/package.json
  services/auth/api/schemas/user.yml
  services/auth/dist/openapi.json
  services/auth/src/globals.ts
  services/auth/src/methods/format.ts
  services/openapi/dist/openapi.json
Due: none

Update package.json and lock of authentication service
  services/auth/package-lock.json
  services/auth/package.json
Due: none

Small fix for parsing of path parameters in client
  clients/api/js/package-lock.json
  clients/api/js/package.json
  helper/crosslab-typescript-addon/package-lock.json
  helper/crosslab-typescript-addon/src/templates/client/client.ts.njk
Due: none

added development-container
  helper/development-container/.dockerignore
  helper/development-container/.gitignore
  helper/development-container/Dockerfile
  helper/development-container/container-scripts/common-debian.sh
  helper/development-container/container-scripts/entrypoint.sh
  helper/development-container/container-scripts/node-debian.sh
  helper/development-container/scripts/build.sh
  helper/development-container/scripts/deploy.sh
Due: none

ci for soa client
  clients/api/python/setup.cfg
  clients/soa/python/.devcontainer/devcontainer.json
  clients/soa/python/package-lock.json
  clients/soa/python/package.json
  clients/soa/python/requirements.txt
  clients/soa/python/scripts/build.sh
  clients/soa/python/scripts/lint.sh
  clients/soa/python/scripts/test.sh
  clients/soa/python/setup.cfg
  clients/soa/python/src/crosslab_soa_client/connection.py
  clients/soa/python/src/crosslab_soa_client/connection_webrtc.py
  clients/soa/python/src/crosslab_soa_client/device_handler.py
  clients/soa/python/src/crosslab_soa_client/schemas.py
  clients/soa/python/tests/test_device_handler.py
  clients/soa/python/tests/test_webrtc_connection.py
  helper/development-container/Dockerfile
Due: python_api_client, python_soa_client

added job badges
  .gitignore
Due: none

implements soa electrical connection service in python
  clients/soa/python/src/crosslab_soa_client/py.typed
  clients/soa_services/electricalConnection/python/.devcontainer/devcontainer.json
  clients/soa_services/electricalConnection/python/.gitignore
  clients/soa_services/electricalConnection/python/.vscode/settings.json
  clients/soa_services/electricalConnection/python/pyproject.toml
  clients/soa_services/electricalConnection/python/requirements.txt
  clients/soa_services/electricalConnection/python/scripts/build.sh
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/__init__.py
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/electrical_connection_service.py
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/py.typed
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/schema.py
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/signal_interface.py
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/signal_interfaces/__init__.py
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/signal_interfaces/gpio.py
  clients/soa_services/electricalConnection/python/template/schema.py.njk
  clients/soa_services/electricalConnection/python/tests/test_gpio.py
  clients/soa_services/electricalConnection/python/tox.ini
  clients/soa_services/electricalConnection/schemas/electrical_service_config.yml
  clients/soa_services/electricalConnection/schemas/gpio_interface_config.yml
  clients/soa_services/electricalConnection/schemas/gpio_interface_data.yml
  clients/soa_services/electricalConnection/schemas/signal_interface_configuration.yml
  clients/soa_services/electricalConnection/schemas/upstream_signal_interface_configuration.yml
Due: python_soa_client

Path conditions:
  python_api_client: any of: clients/api/python/**/*
  python_soa_client: any of: clients/soa/python/**/*
