Repository Cross-Lab-Project/crosslab: changes, and which Codecov flags are due for each by the changed paths.
All: python_api_client, python_soa_client

Update lockfiles
  clients/api/js/package-lock.json
  clients/api/python/package-lock.json
  clients/soa/js/package-lock.json
  clients/soa_services/electricalConnection/js/package-lock.json
  clients/soa_services/file/js/package-lock.json
  clients/soa_services/webcam/js/package-lock.json
  helper/crosslab-typescript-addon/package-lock.json
  helper/dummy-device/js/package-lock.json
  helper/openapi-codegeneration/package-lock.json
  helper/tsdoc-theme/package-lock.json
  helper/tsdoc-theme/tsconfig.json
  integration-test/package-lock.json
  services/auth/package-lock.json
  services/common/package-lock.json
  services/device/package-lock.json
  services/experiment/package-lock.json
  services/federation/package-lock.json
  services/update/package-lock.json
Due: python_api_client

Update lockfiles
  clients/api/js/package-lock.json
  clients/api/python/package-lock.json
  clients/soa/js/package-lock.json
  clients/soa_services/electricalConnection/js/package-lock.json
  clients/soa_services/file/js/package-lock.json
  clients/soa_services/webcam/js/package-lock.json
  helper/crosslab-typescript-addon/package-lock.json
  helper/dummy-device/js/package-lock.json
  helper/openapi-codegeneration/package-lock.json
  helper/tsdoc-theme/package-lock.json
  integration-test/package-lock.json
  services/auth/package-lock.json
  services/booking/package-lock.json
  services/common/package-lock.json
  services/device/package-lock.json
  services/experiment/package-lock.json
  services/federation/package-lock.json
  services/gateway/package-lock.json
  services/openapi/package-lock.json
  services/update/package-lock.json
Due: python_api_client

Update operations import in generated routes file
  helper/crosslab-typescript-addon/templates/service/routes.ts.njk
Due: none

Revert changes to route generation
  helper/crosslab-typescript-addon/templates/service/routes.ts.njk
Due: none

Update build script
  helper/common-scripts/node/build.sh
Due: none

Enable error logs in dummy device
  integration-test/src/fixtures/dummyDevice.ts
Due: none

Add timeout to dummy device and enable verbose log
  .gitlab-ci.yml
  helper/dummy-device/js/src/index.ts
Due: none

bugfix
  helper/dummy-device/js/src/index.ts
Due: none

Additional logging in localServer
  integration-test/src/fixtures/localServer.ts
Due: none

revert debug logging
  .gitlab-ci.yml
  integration-test/src/fixtures/dummyDevice.ts
  integration-test/src/fixtures/localServer.ts
Due: none

pre merge commit
  README.md
  clients/soa/python/README.md
  services/auth/README.md
Due: python_soa_client

added version
  VERSION
Due: none

delete abandoned code
  helper/api-test_old/.gitignore
  helper/api-test_old/package.json
  helper/api-test_old/src/config.ts
  helper/api-test_old/src/example_data/booking.ts
  helper/api-test_old/src/example_data/devices.ts
  helper/api-test_old/src/example_data/experiment.ts
  helper/api-test_old/src/example_data/federation.ts
  helper/api-test_old/src/index.ts
  helper/api-test_old/src/test_server/config.ts
  helper/api-test_old/src/test_server/index.ts
  helper/api-test_old/src/tests/auth.spec.ts
  helper/api-test_old/src/tests/booking.spec.ts
  helper/api-test_old/src/tests/devices.spec.ts
  helper/api-test_old/src/tests/experiment.spec.ts
  helper/api-test_old/src/tests/federation.spec.ts
  helper/api-test_old/src/tests/update.spec.ts
  helper/api-test_old/src/tests/util/common.ts
  helper/api-test_old/src/tests/util/compare/common.ts
  helper/api-test_old/src/tests/util/compare/device.ts
  helper/api-test_old/src/tests/util/compare/experiment.ts
  helper/api-test_old/src/tests/util/compare/federation.ts
  helper/api-test_old/src/tests/util/deviceMessages.ts
  helper/api-test_old/src/tests/util/operations/device.ts
  helper/api-test_old/src/tests/util/operations/experiment.ts
  helper/api-test_old/src/tests/util/operations/federation.ts
  helper/api-test_old/tsconfig.json
  helper/openapi-codegeneration-v2/src/index.ts
Due: none

debug scripts
  common/docker/scripts/build-node.sh
  common/docker/scripts/build.sh
  services/federation/scripts/build-docker.sh
  services/gateway/scripts/build-docker.sh
  services/gateway/scripts/build.sh
  services/openapi/scripts/build.sh
  services/openapi/scripts/lint.sh
  services/openapi/scripts/set-scene.sh
  services/openapi/scripts/test.sh
  services/update/scripts/build-docker.sh
Due: none

dont rebuild if other script files other than the current script change
  README.md
  clients/soa/python/README.md
  scripts/helper/ci.sh
  scripts/helper/path_hash.sh
Due: python_soa_client

WIP
  clients/soa/js/package-lock.json
  clients/soa/js/package.json
  clients/soa/js/src/deviceHandler.ts
  clients/soa/js/src/deviceMessages.ts
  clients/soa/js/src/index.ts
  clients/soa/js/src/peer/channel.ts
  clients/soa/js/src/peer/connection.ts
  clients/soa/js/src/peer/dummy.ts
  clients/soa/js/src/peer/webrtc-connection.ts
  clients/soa/js/src/service.ts
  clients/soa/js/src/utils.ts
  helper/dummy-device/js/.vscode/launch.json
  helper/dummy-device/js/package-lock.json
  helper/dummy-device/js/package.json
  helper/dummy-device/js/src-web/index.ts
  helper/dummy-device/js/src/index.ts
  helper/tsdoc-theme/.gitignore
  helper/tsdoc-theme/package.json
  helper/tsdoc-theme/src/index.ts
  integration-test/src/fixtures/debug.ts
  integration-test/src/fixtures/dummyDevice.ts
Due: none

updated file excludsion in vscode settings
  .vscode/settings.json
  clients/.vscode/.hidden
  clients/.vscode/settings.json
  clients/api/.vscode/settings.json
  clients/api/js/.vscode/settings.json
  clients/api/python/.vscode/settings.json
  clients/soa/.vscode/settings.json
  clients/soa/js/.vscode/settings.json
  clients/soa/python/.vscode/settings.json
  clients/soa_services/.vscode/settings.json
  clients/soa_services/electricalConnection/.vscode/settings.json
  clients/soa_services/electricalConnection/js/.vscode/settings.json
  clients/soa_services/electricalConnection/python/.vscode/settings.json
  clients/soa_services/file/.vscode/settings.json
  clients/soa_services/file/js/.vscode/settings.json
  clients/soa_services/webcam/.vscode/settings.json
  clients/soa_services/webcam/js/.vscode/settings.json
  helper/.vscode/.hidden
  helper/.vscode/settings.json
  helper/crosslab-typescript-addon/.vscode/settings.json
  helper/dummy-device/.vscode/.hidden
  helper/dummy-device/.vscode/settings.json
  helper/dummy-device/js/.vscode/settings.json
  helper/dummy-device/python/.vscode/settings.json
  helper/openapi-codegeneration/.vscode/settings.json
  helper/tsdoc-theme/.vscode/settings.json
  integration-test/.vscode/settings.json
  scripts/housekeeping.sh
  scripts/housekeeping/generate_vscode_configs.sh
  services/.vscode/.hidden
  services/auth/.vscode/settings.json
  services/booking/.vscode/settings.json
  services/common/.vscode/settings.json
  services/device/.vscode/settings.json
  services/experiment/.vscode/settings.json
  services/federation/.vscode/settings.json
  services/gateway/.vscode/settings.json
  services/openapi/.vscode/settings.json
  services/update/.vscode/settings.json
Due: python_api_client, python_soa_client

updated .jobs for updated scripts
  .jobs.yml
Due: none

fixes bug where new RTCPeerConnection() never returns in chrome
  helper/dummy-device/js/src/index.ts
Due: none

additional common files
  clients/soa/js/tsconfig-base.json
  clients/soa/js/tsconfig-cjs.json
  clients/soa/js/tsconfig.json
  helper/dummy-device/js/.eslintrc
  helper/dummy-device/js/tsconfig.json
  integration-test/.eslintrc
  integration-test/.prettierrc.js
  integration-test/tsconfig.json
Due: none

update packages
  clients/api/js/package-lock.json
  clients/api/python/package-lock.json
  clients/soa/js/package-lock.json
  clients/soa_services/electricalConnection/js/package-lock.json
  clients/soa_services/file/js/package-lock.json
  clients/soa_services/webcam/js/package-lock.json
  helper/crosslab-typescript-addon/package-lock.json
  helper/dummy-device/js/package-lock.json
  helper/openapi-codegeneration/package-lock.json
  helper/tsdoc-theme/package-lock.json
  integration-test/package-lock.json
  services/auth/README.md
  services/auth/package-lock.json
  services/common/package-lock.json
  services/common/package.json
  services/device/package-lock.json
  services/experiment/package-lock.json
  services/federation/package-lock.json
  services/update/package-lock.json
Due: python_api_client

added publishing scripts
  README.md
  clients/api/python/scripts/publish.sh
  clients/soa/python/README.md
  clients/soa/python/scripts/publish.sh
  clients/soa_services/electricalConnection/python/scripts/publish.sh
  common/docker/scripts/build-node.sh
  common/docker/scripts/build.sh
  common/docker/scripts/publish.sh
  common/python/scripts/publish.sh
  scripts/helper/ci.sh
  scripts/publish.sh
  services/auth/README.md
  services/auth/scripts/publish-docker.sh
  services/device/scripts/publish-docker.sh
  services/experiment/scripts/publish-docker.sh
  services/federation/scripts/publish-docker.sh
  services/gateway/scripts/publish-docker.sh
  services/update/scripts/publish-docker.sh
Due: python_api_client, python_soa_client

hotfix
  services/auth/src/index.ts
Due: none

HOTFIX: for local services: Don't connect local services to each other
  services/experiment/src/util/connectionPlan.ts
Due: none

hotfix
  services/auth/src/operations/deviceAuthenticationToken.ts
Due: none

hotfix
  services/auth/src/database/dataSource.ts
Due: none

bugfix
  services/auth/src/database/dataSource.ts
Due: none

Pre merge to main
  README.md
  clients/soa/python/README.md
  services/auth/README.md
Due: python_soa_client

bugfixing version referencing problem
  README.md
  clients/soa/python/README.md
  common/node/scripts/build.sh
  services/auth/README.md
Due: python_soa_client

bugfixing
  .jobs.yml
  README.md
Due: none

Pre merge commit
  README.md
  clients/soa/python/README.md
  services/auth/README.md
Due: python_soa_client

python publishing
  README.md
  VERSION
  clients/api/python/scripts/build.sh
  clients/api/python/scripts/publish.sh
  clients/api/python/setup.cfg
  clients/soa/python/scripts/build.sh
  clients/soa/python/scripts/publish.sh
  clients/soa/python/setup.cfg
  clients/soa_services/electricalConnection/python/scripts/build.sh
  clients/soa_services/electricalConnection/python/scripts/publish.sh
  clients/soa_services/electricalConnection/python/setup.cfg
  clients/soa_services/file/python/scripts/build.sh
  clients/soa_services/file/python/scripts/publish.sh
  clients/soa_services/file/python/setup.cfg
  clients/soa_services/message/python/scripts/build.sh
  clients/soa_services/message/python/scripts/publish.sh
  clients/soa_services/message/python/setup.cfg
  clients/soa_services/webcam/python/scripts/build.sh
  clients/soa_services/webcam/python/scripts/publish.sh
  clients/soa_services/webcam/python/setup.cfg
  helper/dummy-device/python/scripts/build.sh
  helper/dummy-device/python/setup.cfg
Due: python_api_client, python_soa_client

Path conditions:
  python_api_client: any of: clients/api/python/**/*
  python_soa_client: any of: clients/soa/python/**/*
