Repository Cross-Lab-Project/crosslab: changes, and which Codecov flags are due for each by the changed paths.
All: python_api_client, python_soa_client

Fix building issues
  common/node/scripts/set-scene.sh
  services/booking/src/booking-backend/package-lock.json
  services/booking/src/booking-backend/package.json
  services/booking/src/booking-frontend/package-lock.json
  services/booking/src/booking-frontend/package.json
  services/booking/src/common/scripts/set-scene.sh
  services/booking/src/device-reservation/scripts/set-scene.sh
  services/booking/src/schedule-service/package-lock.json
  services/booking/src/schedule-service/package.json
  services/booking/src/test_common/scripts/set-scene.sh
Due: none

fix ldap authentication bug
  services/auth/src/authenticationSources/ldap.ts
Due: none

hotfix
  services/common/src/utils.ts
  services/device/src/config.ts
Due: none

allow turns and tcp transport turn url
  services/device/src/config.ts
Due: none

hotfix firefox issue with missing video streaming label
  clients/soa/js/src/peer/webrtc-connection.ts
Due: none

update aiortc library and move to integrated video encoding
  clients/soa/python/setup.cfg
  clients/soa/python/src/crosslab/soa_client/connection_webrtc.py
  clients/soa/python/src/crosslab/soa_client/media/__init__.py
  clients/soa/python/src/crosslab/soa_client/media/gst_track.py
  clients/soa/python/src/crosslab/soa_client/media/udp_track.py
  clients/soa_services/webcam/python/setup.cfg
  clients/soa_services/webcam/python/src/crosslab/soa_services/webcam/__init__.py
  clients/soa_services/webcam/python/src/crosslab/soa_services/webcam/media.py
  clients/soa_services/webcam/python/src/crosslab/soa_services/webcam/webcam_service.py
  clients/soa_services/webcam/python/tests/test_standard.py
  clients/soa_services/webcam/python/tox.ini
Due: python_soa_client

fix issue on stun/turn servers from config message
  clients/soa/python/src/crosslab/soa_client/device_handler.py
  clients/soa/python/src/crosslab/soa_client/logging.py
Due: python_soa_client

update Python version requirement, refactor WebRTC connection handling, and improve test setup
  clients/soa/python/setup.cfg
  clients/soa/python/src/crosslab/soa_client/connection_webrtc.py
  clients/soa/python/src/crosslab/soa_client/logging.py
  clients/soa/python/src/crosslab/soa_client/test_helper/dummy_track.py
  clients/soa/python/src/crosslab/soa_client/test_helper/service_stub.py
  clients/soa/python/tests/conftest.py
  clients/soa/python/tests/h264_test.bin
  clients/soa/python/tests/helpers/async_exception.py
  clients/soa/python/tests/test.mp4
  clients/soa/python/tests/test_device_handler.py
  clients/soa/python/tests/test_webrtc_connection.py
  clients/soa/python/tox.ini
  helper/python-test-helper/src/test_helper/__init__.py
  helper/python-test-helper/src/test_helper/async_timeout.py
Due: python_soa_client

remove property "connected" from device database
  services/device/src/database/migrations/mariadb/1745838329382-RemoveConnectedProperty.ts
  services/device/src/database/migrations/mariadb/index.ts
  services/device/src/database/migrations/sqlite/1745838315307-RemoveConnectedProperty.ts
  services/device/src/database/migrations/sqlite/index.ts
  services/device/src/database/model.ts
  services/device/src/database/repositories/device/concreteDevice.ts
  services/device/src/methods/device.ts
  services/device/src/operations/callbacks/event/deviceChanged.ts
  services/device/src/operations/devices/websocket/handling/authentication.ts
  services/device/src/operations/devices/websocket/handling/close.ts
  services/device/src/operations/devices/websocket/handling/heartbeat.ts
  services/device/src/operations/peerconnections/post.ts
Due: none

fix linting issue
  helper/dummy-device/python/.vscode/settings.json
  helper/python-test-helper/src/test_helper/async_timeout.py
Due: none

fix linting
  helper/dummy-device/python/src/dummy_device/__main__.py
Due: none

fix linting
  clients/soa_services/webcam/python/.vscode/settings.json
  clients/soa_services/webcam/python/src/crosslab/soa_services/webcam/webcam_service.py
Due: none

fix test
  clients/soa_services/electricalConnection/python/.vscode/settings.json
  clients/soa_services/electricalConnection/python/setup.cfg
  clients/soa_services/electricalConnection/python/tox.ini
Due: none

fix test
  clients/soa_services/file/python/setup.cfg
  clients/soa_services/file/python/tox.ini
  clients/soa_services/message/python/setup.cfg
  clients/soa_services/message/python/tox.ini
  clients/soa_services/parameter/python/setup.cfg
  clients/soa_services/parameter/python/tox.ini
  helper/dummy-device/python/setup.cfg
  helper/dummy-device/python/tox.ini
Due: none

Adds experiment callback endpoint and grading logic
  services/lti/api/openapi.yml
  services/lti/api/operations/session.yml
  services/lti/src/business/lti_session.ts
  services/lti/src/clients/experiment/basicValidation.cjs
  services/lti/src/clients/experiment/basicValidation.d.cts
  services/lti/src/clients/experiment/client.ts
  services/lti/src/clients/experiment/requestValidation.ts
  services/lti/src/clients/experiment/signatures.ts
  services/lti/src/generated/basicValidation.cjs
  services/lti/src/generated/requestValidation.ts
  services/lti/src/generated/routes.ts
  services/lti/src/generated/signatures.ts
  services/lti/src/helper/uris.ts
  services/lti/src/lti/message.ts
  services/lti/src/operations/lti_request.ts
  services/lti/src/operations/platform.ts
  services/lti/src/operations/resource.ts
  services/lti/src/operations/resource_student.ts
  services/lti/src/operations/session.ts
Due: none

fix lti test
  services/lti/src/helper/uris.ts
  services/lti/test/role_select.spec.ts
  services/lti/test/students.spec.ts
Due: none

remove authorization check
  services/lti/src/operations/session.ts
Due: none

hotfix ice error on firefox
  VERSION
  clients/soa/python/src/crosslab/soa_client/connection_webrtc.py
Due: python_soa_client

Update README and scripts for release download command
  README.md
  clients/api/js/scripts/publish.sh
  scripts/ci.d/ci.sh
Due: none

Fixed jobs.yml
  .jobs.yml
Due: none

update additionalProperties handling
  helper/crosslab-typescript-addon/src/filterCollections/typescript/typings/types/object.ts
Due: none

WIP: booking service implementation and testing
  services/booking-new/api/openapi.yml
  services/booking-new/src/app.ts
  services/booking-new/src/clients/device/client.ts
  services/booking-new/src/clients/device/signatures.ts
  services/booking-new/src/clients/device/types.ts
  services/booking-new/src/database/model.ts
  services/booking-new/src/database/repositories/booking.ts
  services/booking-new/src/database/repositories/device.ts
  services/booking-new/src/methods/reservation.ts
  services/booking-new/src/methods/timetable.ts
  services/booking-new/src/operations/bookings/booking/delete.ts
  services/booking-new/src/operations/bookings/booking/get.ts
  services/booking-new/src/operations/bookings/booking/lock/put.ts
  services/booking-new/src/operations/bookings/booking/patch.ts
  services/booking-new/src/operations/bookings/post.ts
  services/booking-new/src/operations/callbacks/event/deviceChanged.ts
  services/booking-new/src/operations/schedule/post.ts
  services/booking-new/test/booking.spec.ts
  services/booking-new/test/cloud-instantiable-device.spec.ts
  services/booking-new/test/concrete-device.spec.ts
  services/booking-new/test/device-group.spec.ts
  services/booking-new/test/edge-instantiable-device.spec.ts
  services/booking-new/test/schedule.spec.ts
Due: none

fix integration test
  clients/api/python/src/crosslab/api_client/client.py
  clients/api/python/src/crosslab/api_client/schemas.py
  clients/api/python/tests/test_openapi.py
  clients/soa/js/package-lock.json
  integration-test/src/tests/client_to_client.spec.ts
  integration-test/src/tests/experimentStatusChanged.spec.ts
  integration-test/src/tests/file_transmit.spec.ts
  integration-test/src/tests/gpio_transmit_default.spec.ts
  integration-test/src/tests/gpio_transmit_without_driver.spec.ts
  services/auth/package-lock.json
  services/common/package-lock.json
  services/experiment/src/clients/device/types.ts
  services/experiment/src/clients/forwarding/client.ts
  services/experiment/src/clients/forwarding/requestValidation.ts
  services/experiment/src/clients/forwarding/types.ts
  services/lti/src/clients/device/basicValidation.cjs
  services/lti/src/clients/device/types.ts
  services/lti/src/clients/experiment/basicValidation.cjs
  services/lti/src/clients/experiment/basicValidation.d.cts
  services/lti/src/clients/experiment/client.ts
  services/lti/src/clients/experiment/requestValidation.ts
  services/lti/src/clients/experiment/signatures.ts
Due: python_api_client

small fixes
  .jobs.yml
  services/device/package-lock.json
  services/device/src/clients/authentication/client.ts
  services/device/src/clients/device/client.ts
  services/device/src/clients/federation/client.ts
Due: none

WIP: integrate ide services
  clients/soa_services/collaboration/js/package.json
  clients/soa_services/collaboration/js/src/collaborationProviders/index.ts
  clients/soa_services/collaboration/js/src/collaborationProviders/yjs/provider.ts
  clients/soa_services/collaboration/js/src/collaborationProviders/yjs/types.ts
  clients/soa_services/collaboration/js/src/collaborationTypes.ts
  clients/soa_services/collaboration/js/src/index.ts
  clients/soa_services/collaboration/js/src/prosumer.ts
  clients/soa_services/collaboration/js/src/room.ts
  clients/soa_services/collaboration/js/src/types.ts
  clients/soa_services/compilation/js/package.json
  clients/soa_services/debugging-adapter/js/package.json
  clients/soa_services/debugging-target/js/package.json
  clients/soa_services/filesystem/js/package.json
  clients/soa_services/filesystem/js/src/consumer.ts
  clients/soa_services/filesystem/js/src/producer.ts
  clients/soa_services/lsp/js/package.json
  clients/soa_services/messaging/js/package.json
  clients/soa_services/programming/js/package.json
  clients/soa_services/testing/js/package.json
  common/docker/scripts/build-node.sh
  helper/abstract-messaging-channel/package.json
  helper/crosslab-messaging-channel/package.json
  helper/filesystem-schemas/package.json
  helper/promise-manager/package.json
Due: none

WIP: temporary booking-service
  integration-test/docker-compose.yaml
  services/booking-new/.vscode/launch.json
  services/booking-new/.vscode/settings.json
  services/booking-new/api/openapi.yml
  services/booking-new/notes.md
  services/booking-new/package-lock.json
  services/booking-new/src/database/model.ts
  services/booking-new/src/database/repositories/booking.ts
  services/booking-new/src/database/repositories/reservation.ts
  services/booking-new/src/methods/callbackManager.ts
  services/booking-new/src/methods/callbacks.ts
  services/booking-new/src/methods/reservation.ts
  services/booking-new/src/methods/timetable.ts
  services/booking-new/src/operations/bookings/booking/delete.ts
  services/booking-new/src/operations/bookings/post.ts
  services/booking-new/src/operations/callbacks/event/deviceChanged.ts
  services/booking-new/src/operations/callbacks/event/deviceDeleted.ts
  services/booking-new/src/operations/schedule/post.ts
Due: none

update soa client
  clients/api/python/src/crosslab/api_client/schemas.py
  clients/soa/js/src/deviceHandler.ts
  clients/soa/js/src/deviceMessages.ts
  clients/soa/python/src/crosslab/soa_client/messages.py
  helper/crosslab-typescript-addon/templates/service-client/client.ts.njk
  services/booking-temporary/src/clients/device/client.ts
  services/booking/src/common/src/clients/booking-backend/client.ts
  services/booking/src/common/src/clients/booking-frontend/client.ts
  services/booking/src/common/src/clients/device/client.ts
  services/booking/src/common/src/clients/schedule-service/client.ts
  services/device/src/clients/authentication/client.ts
  services/device/src/clients/device/client.ts
  services/device/src/clients/federation/client.ts
  services/experiment/api/schemas/experiment_overview.yml
  services/experiment/src/clients/booking/client.ts
  services/experiment/src/clients/device/client.ts
  services/experiment/src/clients/forwarding/client.ts
  services/experiment/src/database/model.ts
  services/experiment/src/methods/experimentStatus/finish.ts
  services/experiment/src/methods/experimentStatus/index.ts
  services/experiment/src/methods/experimentStatus/run.ts
  services/experiment/src/methods/experimentStatus/setup/index.ts
  services/experiment/src/methods/peerconnection.ts
  services/experiment/src/operations/callbacks/callbackHandler.ts
  services/experiment/src/operations/experiments/experiment/delete.ts
  services/lti/src/clients/authentication/client.ts
  services/lti/src/clients/device/client.ts
  services/lti/src/clients/experiment/basicValidation.cjs
  services/lti/src/clients/experiment/client.ts
  services/lti/src/clients/experiment/types.ts
Due: python_api_client, python_soa_client

fix temporary booking service openapi.yml for api client generation
  clients/api/python/src/crosslab/api_client/schemas.py
  clients/api/python/tests/test_openapi.py
  services/booking-temporary/api/openapi.yml
  services/experiment/src/clients/booking/basicValidation.cjs
  services/experiment/src/clients/booking/basicValidation.d.cts
  services/experiment/src/clients/booking/signatures.ts
  services/experiment/src/clients/booking/types.ts
Due: python_api_client

add file ending to local imports (ide-services)
  clients/soa_services/compilation/js/src/consumer.ts
  clients/soa_services/compilation/js/src/index.ts
  clients/soa_services/compilation/js/src/producer.ts
  clients/soa_services/debugging-adapter/js/src/consumer.ts
  clients/soa_services/debugging-adapter/js/src/dap-zod-schemas.ts
  clients/soa_services/debugging-adapter/js/src/index.ts
  clients/soa_services/debugging-adapter/js/src/producer.ts
  clients/soa_services/debugging-adapter/js/src/protocol.ts
  clients/soa_services/debugging-target/js/src/consumer.ts
  clients/soa_services/debugging-target/js/src/index.ts
  clients/soa_services/debugging-target/js/src/producer.ts
  clients/soa_services/filesystem/js/src/consumer.ts
  clients/soa_services/filesystem/js/src/index.ts
  clients/soa_services/filesystem/js/src/producer.ts
  clients/soa_services/lsp/js/src/consumer.ts
  clients/soa_services/lsp/js/src/index.ts
  clients/soa_services/lsp/js/src/producer.ts
  clients/soa_services/messaging/js/src/index.ts
  clients/soa_services/programming/js/src/consumer.ts
  clients/soa_services/programming/js/src/index.ts
  clients/soa_services/programming/js/src/producer.ts
  clients/soa_services/testing/js/src/consumer.ts
  clients/soa_services/testing/js/src/index.ts
  clients/soa_services/testing/js/src/producer.ts
  helper/abstract-messaging-channel/src/abstractMessagingChannel.ts
  helper/abstract-messaging-channel/src/index.ts
  helper/crosslab-messaging-channel/src/index.ts
  helper/filesystem-schemas/src/collaboration.ts
  helper/filesystem-schemas/src/index.ts
Due: none

remove db healthcheck interval
  integration-test/docker-compose.yaml
Due: none

add default value for additional attributes of devices
  services/device/src/database/migrations/mariadb/1751017791629-DefaultAdditionalAttributes.ts
  services/device/src/database/migrations/sqlite/1751017818581-DefaultAdditionalAttributes.ts
  services/device/src/database/model.ts
Due: none

remove debug-logging ide-services
  clients/soa/js/src/deviceHandler.ts
  clients/soa_services/collaboration/js/src/collaborationProviders/yjs/provider.ts
  clients/soa_services/collaboration/js/src/collaborationTypes.ts
  clients/soa_services/collaboration/js/src/prosumer.ts
  clients/soa_services/collaboration/js/src/room.ts
  clients/soa_services/collaboration/js/src/types.ts
  clients/soa_services/debugging-adapter/js/src/consumer.ts
  clients/soa_services/debugging-target/js/src/producer.ts
  clients/soa_services/file/js/src/file_service.ts
  clients/soa_services/filesystem/js/src/consumer.ts
  clients/soa_services/filesystem/js/src/producer.ts
  clients/soa_services/testing/js/src/consumer.ts
  clients/soa_services/testing/js/src/producer.ts
  clients/soa_services/testing/js/src/types.ts
  helper/abstract-messaging-channel/src/types.ts
  helper/crosslab-messaging-channel/src/index.ts
  helper/crosslab-messaging-channel/src/util.ts
Due: none

add device service migration (default additional attributes)
  services/device/src/database/migrations/mariadb/index.ts
  services/device/src/database/migrations/sqlite/index.ts
Due: none

update device service migrations
  services/device/src/database/migrations/mariadb/1722505432461-AdditionalAttributesDevice.ts
  services/device/src/database/migrations/mariadb/1751017791629-DefaultAdditionalAttributes.ts
  services/device/src/database/migrations/mariadb/index.ts
  services/device/src/database/migrations/sqlite/1722505386867-AdditionalAttributesDevice.ts
  services/device/src/database/migrations/sqlite/1745838315307-RemoveConnectedProperty.ts
  services/device/src/database/migrations/sqlite/1751017818581-DefaultAdditionalAttributes.ts
  services/device/src/database/migrations/sqlite/index.ts
Due: none

update gateway service for temporary booking service
  services/gateway/conf/booking_service.conf
Due: none

Path conditions:
  python_api_client: any of: clients/api/python/**/*
  python_soa_client: any of: clients/soa/python/**/*
