Repository Cross-Lab-Project/crosslab: changes, and which Codecov flags are due for each by the changed paths.
All: python_api_client, python_soa_client

codecov.yml:

flags:
  python_api_client:
    paths:
      - clients/api/python/**/*
    carryforward: true
  python_soa_client:
    paths:
      - clients/soa/python/**/*
    carryforward: true

moved build scripts to helper/common-scripts
  helper/common-scripts/node/build.sh
  helper/common-scripts/node/lint.sh
  services/auth/scripts
  services/booking/scripts
  services/booking/scripts/build.sh
  services/booking/scripts/lint.sh
  services/device/scripts
  services/device/scripts/build.sh
  services/device/scripts/lint.sh
  services/experiment/scripts
  services/experiment/scripts/build.sh
  services/experiment/scripts/lint.sh
  services/federation/scripts
  services/federation/scripts/build.sh
  services/federation/scripts/lint.sh
  services/gateway/scripts
  services/gateway/scripts/build.sh
  services/openapi/scripts
  services/openapi/scripts/build.sh
  services/openapi/scripts/lint.sh
  services/update/scripts
  services/update/scripts/build.sh
  services/update/scripts/lint.sh
Due: none

bufixing electicalConnection
  clients/soa_services/electricalConnection/python/package-lock.json
  clients/soa_services/electricalConnection/python/package.json
  clients/soa_services/electricalConnection/python/scripts/build.sh
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/schema.py
  clients/soa_services/electricalConnection/schemas/gpio_interface_config.yml
Due: none

bufixing electicalConnection
  clients/soa_services/electricalConnection/python/scripts/lint.sh
  clients/soa_services/electricalConnection/python/scripts/test.sh
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/schema.py
  clients/soa_services/electricalConnection/schemas/gpio_interface_config.yml
Due: none

fix lining issue
  clients/soa/python/package-lock.json
  clients/soa/python/package.json
  clients/soa/python/pyproject.toml
  clients/soa/python/setup.cfg
  clients/soa/python/setup.py
  clients/soa/python/src/crosslab/soa_client/__init__.py
  clients/soa/python/src/crosslab/soa_client/connection.py
  clients/soa/python/src/crosslab/soa_client/connection_webrtc.py
  clients/soa/python/src/crosslab/soa_client/device_handler.py
  clients/soa/python/src/crosslab/soa_client/media/__init__.py
  clients/soa/python/src/crosslab/soa_client/media/gst_track.py
  clients/soa/python/src/crosslab/soa_client/media/udp_track.py
  clients/soa/python/src/crosslab/soa_client/message_handling.py
  clients/soa/python/src/crosslab/soa_client/py.typed
  clients/soa/python/src/crosslab/soa_client/schemas.py
  clients/soa/python/src/crosslab/soa_client/service.py
  clients/soa/python/tests/test_device_handler.py
  clients/soa/python/tests/test_webrtc_connection.py
  clients/soa/python/tox.ini
  clients/soa_services/electricalConnection/python/package.json
  clients/soa_services/electricalConnection/python/scripts/lint.sh
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/electrical_connection_service.py
  clients/soa_services/electricalConnection/python/tests/test_gpio.py
  clients/soa_services/electricalConnection/python/tox.ini
Due: python_soa_client

WIP
  .gitignore
  clients/api/python/package.json
  clients/api/python/pyproject.toml
  clients/api/python/setup.cfg
  clients/api/python/setup.py
  clients/api/python/src/crosslab/api_client/__init__.py
  clients/api/python/src/crosslab/api_client/client.py
  clients/api/python/src/crosslab/api_client/exceptions.py
  clients/api/python/src/crosslab/api_client/py.typed
  clients/api/python/src/crosslab/api_client/schemas.py
  clients/api/python/src/crosslab_api_client/__init__.py
  clients/api/python/template/client.py.njk
  clients/api/python/test_template/test_openapi.py.njk
  clients/api/python/tests/test_openapi.py
  clients/api/python/tox.ini
  clients/soa_services/electricalConnection/python/package-lock.json
  clients/soa_services/electricalConnection/python/tests/test_gpio.py
Due: python_api_client

build
  services/booking/.gitignore
Due: none

update package lock
  helper/crosslab-typescript-addon/package-lock.json
Due: none

bugfixing
  services/openapi/.gitignore
Due: none

bugfixing
  services/openapi/dist/openapi.json
Due: none

bugfixing
  clients/api/python/src/crosslab/api_client/client.py
  clients/api/python/src/crosslab/api_client/schemas.py
  clients/api/python/tests/test_openapi.py
Due: python_api_client

bugifx
  clients/soa/python/src/crosslab/soa_client/device_handler.py
Due: python_soa_client

bugfix
  clients/soa_services/electricalConnection/python/scripts/test.sh
  clients/soa_services/electricalConnection/python/tox.ini
Due: none

bugfixing
  clients/api/js/package-lock.json
  clients/api/js/package.json
Due: none

debug auth service building
  clients/api/js/.gitignore
  clients/api/js/scripts
  clients/api/js/scripts/build.sh
  helper/common-scripts/node/build.sh
  helper/common-scripts/node/collect_dependencies.sh
  helper/common-scripts/node/replace_links_with_version.sh
  helper/common-scripts/node/test.sh
  services/auth/.gitignore
  services/auth/Dockerfile
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/index.ts
  services/auth/src/methods/auth.ts
  services/auth/src/operations.ts
  services/auth/src/operations/auth.ts
  services/auth/src/operations/device_authentication_token.ts
  services/auth/src/operations/identity.ts
  services/auth/src/operations/login.ts
  services/auth/src/operations/logout.ts
  services/auth/src/operations/users.ts
  services/common/.devcontainer/devcontainer.json
  services/common/.gitignore
  services/common/package-lock.json
  services/common/package.json
  services/common/scripts
  services/common/src/errors.ts
  services/common/src/index.ts
  services/common/tsconfig.json
Due: none

bugfixing
  services/auth/package-lock.json
  services/auth/package.json
  services/device/api/content/availability_request.yml
  services/device/dist/openapi.json
  services/openapi/dist/openapi.json
Due: none

debugging build script
  clients/soa/python/.gitignore
  helper/common-scripts/node/build-spec.sh
  helper/common-scripts/node/build.sh
  services/booking/.gitignore
  services/openapi/.gitignore
Due: python_soa_client

Update services to use new code generation
  helper/crosslab-typescript-addon/src/filters/typescript/resolve.ts
  helper/crosslab-typescript-addon/src/templates/service/requestValidation.ts.njk
  helper/crosslab-typescript-addon/src/templates/service/routes.ts.njk
  helper/crosslab-typescript-addon/src/templates/service/signatures.ts.njk
  services/auth/package-lock.json
  services/common/package-lock.json
  services/common/src/errors.ts
  services/common/tsconfig.json
  services/device/.gitignore
  services/device/package-lock.json
  services/device/package.json
  services/device/src/methods/callbacks.ts
  services/device/tsconfig.json
  services/experiment/.gitignore
  services/experiment/package-lock.json
  services/experiment/package.json
  services/experiment/src/util/api.ts
  services/experiment/tsconfig.json
  services/federation/.gitignore
  services/federation/package-lock.json
  services/federation/package.json
  services/federation/src/index.ts
  services/federation/src/operations.ts
  services/federation/src/operations/proxy.ts
  services/federation/src/types/errors.ts
  services/federation/tsconfig.json
  services/update/.gitignore
  services/update/package-lock.json
  services/update/package.json
  services/update/src/index.ts
  services/update/src/operations.ts
  services/update/tsconfig.json
Due: none

moved to single devcontainer for whole repository
  clients/api/js/.devcontainer/devcontainer.json
  clients/api/python/.devcontainer/Dockerfile
  clients/api/python/.devcontainer/devcontainer.json
  clients/soa/python/.devcontainer/devcontainer.json
  clients/soa_services/electricalConnection/python/.devcontainer/devcontainer.json
  helper/crosslab-typescript-addon/.devcontainer/devcontainer.json
  helper/development-container/Dockerfile
  helper/development-container/container-scripts/entrypoint.sh
  helper/openapi-codegeneration/.devcontainer/devcontainer.json
  helper/tsdoc-theme/.devcontainer/devcontainer.json
  services/auth/.devcontainer/devcontainer.json
  services/booking/.devcontainer/devcontainer.json
  services/common/.devcontainer/devcontainer.json
  services/device/.devcontainer/devcontainer.json
  services/experiment/.devcontainer/devcontainer.json
  services/federation/.devcontainer/devcontainer.json
  services/gateway/.devcontainer/devcontainer.json
  services/openapi/.devcontainer/devcontainer.json
  services/update/.devcontainer/devcontainer.json
Due: python_api_client, python_soa_client

splitted dev container for crosslab / goldi
  helper/development-container/Dockerfile
  helper/development-container/scripts/build.sh
  helper/development-container/scripts/deploy.sh
Due: none

bugfixing services
  services/auth/.dockerignore
  services/auth/.vscode/launch.json
  services/auth/.vscode/settings.json
  services/auth/api/resources/auth.yml
  services/auth/api/resources/login.yml
  services/auth/dist/openapi.json
  services/auth/package-lock.json
  services/auth/package.json
  services/common/package-lock.json
  services/common/package.json
  services/common/src/index.ts
  services/device/.vscode/launch.json
  services/device/Dockerfile
  services/device/package-lock.json
  services/device/package.json
  services/device/src/data_source.ts
  services/device/src/index.ts
  services/experiment/.dockerignore
  services/experiment/Dockerfile
  services/experiment/package-lock.json
  services/experiment/package.json
  services/experiment/src/database/data_source.ts
  services/federation/.dockerignore
  services/federation/Dockerfile
  services/federation/package-lock.json
  services/federation/package.json
  services/gateway/Dockerfile
  services/gateway/conf/auth_service.conf
  services/gateway/conf/device_service.conf
  services/gateway/package-lock.json
  services/gateway/package.resolved.json
  services/openapi/dist/openapi.json
  services/update/.dockerignore
  services/update/Dockerfile
  services/update/package-lock.json
  services/update/package.json
Due: none

build docker images for services
  helper/common-scripts/node/build-docker.sh
  helper/common-scripts/node/build-spec.sh
  helper/common-scripts/node/build.sh
Due: none

bugfixing other stuff
  clients/api/js/.gitignore
  clients/api/js/.vscode/settings.json
  clients/api/js/package-lock.json
  clients/api/js/package.json
  clients/api/js/tsconfig-base.json
  clients/api/js/tsconfig-cjs.json
  clients/api/js/tsconfig.json
  clients/api/python/.gitignore
  clients/api/python/scripts/test.sh
  clients/soa/python/scripts/test.sh
  clients/soa/python/src/crosslab/soa_client/device_handler.py
  clients/soa/python/tests/test_device_handler.py
  clients/soa_services/electricalConnection/python/.gitignore
  clients/soa_services/electricalConnection/python/src/crosslab/soa_services/electrical/electrical_connection_service.py
  helper/crosslab-typescript-addon/src/templates/service/routes.ts.njk
  helper/crosslab-typescript-addon/src/templates/service/signatures.ts.njk
Due: python_api_client, python_soa_client

bugfixing
  clients/api/python/src/crosslab/api_client/client.py
  helper/common-scripts/node/build.sh
  helper/common-scripts/node/replace_links_with_version.sh
  services/auth/package.json
  services/auth/src/methods/utils.ts
  services/auth/src/operations/auth.ts
  services/common/src/index.ts
  services/device/package.json
  services/experiment/.vscode/launch.json
  services/experiment/package.json
  services/experiment/src/index.ts
  services/experiment/src/util/experimentStatus.ts
  services/federation/package.json
  services/federation/src/index.ts
  services/gateway/package-lock.json
  services/gateway/package.json
  services/update/package.json
  services/update/src/index.ts
Due: python_api_client

CORS test
  services/gateway/conf/auth_service.conf
Due: none

Update for CORS requests
  services/auth/src/operations/auth.ts
  services/gateway/conf/auth_service.conf
Due: none

updated settings.json
  clients/.vscode/settings.json
  clients/api/python/.vscode/settings.json
  clients/soa/.vscode/settings.json
  clients/soa/js/.vscode/settings.json
  clients/soa/python/.vscode/settings.json
  clients/soa_services/.vscode/.hidden
  clients/soa_services/.vscode/settings.json
  clients/soa_services/electricalConnection/.vscode/.hidden
  clients/soa_services/electricalConnection/.vscode/settings.json
  clients/soa_services/electricalConnection/js/.vscode/settings.json
  clients/soa_services/electricalConnection/python/.vscode/settings.json
  clients/soa_services/file/.vscode/.hidden
  clients/soa_services/file/.vscode/settings.json
  clients/soa_services/file/js/.vscode/settings.json
  clients/soa_services/webcam/.vscode/.hidden
  clients/soa_services/webcam/.vscode/settings.json
  clients/soa_services/webcam/js/.vscode/settings.json
  helper/.vscode/settings.json
  services/booking/.vscode/settings.json
  services/common/.vscode/settings.json
  services/device/.vscode/settings.json
  services/experiment/.vscode/settings.json
  services/federation/.vscode/settings.json
  services/gateway/.vscode/settings.json
  services/openapi/.vscode/settings.json
  services/update/.vscode/settings.json
Due: python_api_client, python_soa_client

Bugfix: set peerconnection status correctly on write
  services/device/src/methods/database/write.ts
Due: none

Update ts codegen to support read-/writeOnly and small changes
  helper/crosslab-typescript-addon/src/filters/typescript/index.ts
  helper/crosslab-typescript-addon/src/filters/typescript/resolve.ts
  helper/crosslab-typescript-addon/src/filters/typescript/typings.ts
  helper/crosslab-typescript-addon/src/filters/typescript/validation.ts
  helper/crosslab-typescript-addon/src/templates/client/client.ts.njk
  helper/crosslab-typescript-addon/src/templates/client/signatures.ts.njk
  helper/crosslab-typescript-addon/src/templates/client/types.ts.njk
  helper/crosslab-typescript-addon/src/templates/service/routes.ts.njk
  helper/crosslab-typescript-addon/src/templates/service/signatures.ts.njk
  helper/crosslab-typescript-addon/src/templates/service/types.ts.njk
  helper/openapi-codegeneration/package-lock.json
  helper/openapi-codegeneration/src/index.ts
  services/common/src/errors.ts
  services/device/api/schemas/messages/create_peerconnection_message.yml
  services/device/dist/openapi.json
  services/federation/src/operations.ts
  services/openapi/dist/openapi.json
Due: none

Bugfixes and small soa client additions
  clients/api/js/package-lock.json
  clients/soa/js/package-lock.json
  clients/soa/js/package.json
  clients/soa/js/src/deviceHandler.ts
  clients/soa/js/src/peer/dummy.ts
  clients/soa_services/electricalConnection/js/package-lock.json
  clients/soa_services/electricalConnection/js/package.resolved.json
  services/auth/.env-cmdrc
  services/auth/.vscode/launch.json
  services/auth/package-lock.json
  services/auth/package.json
  services/common/package-lock.json
  services/device/.env-cmdrc
  services/device/.vscode/launch.json
  services/device/package-lock.json
  services/device/package.json
  services/experiment/.env-cmdrc
  services/experiment/package-lock.json
  services/experiment/package.json
  services/experiment/src/database/methods/create.ts
  services/federation/.env-cmdrc
  services/federation/.vscode/launch.json
  services/federation/package-lock.json
  services/federation/package.json
  services/gateway/package-lock.json
  services/gateway/package.resolved.json
  services/gateway/run_dev.sh
  services/update/.env-cmdrc
  services/update/.vscode/launch.json
  services/update/package-lock.json
  services/update/package.json
Due: none

Bugfixes device-/experiment service
  helper/api-test/package-lock.json
  helper/api-test/package.json
  helper/api-test/src/config.ts
  helper/api-test/src/index.ts
  helper/api-test/src/tests/example.spec.ts
  helper/api-test/src/tests/experiment.spec.ts
  helper/api-test/src/tests/testdata.spec.ts
  helper/crosslab-typescript-addon/src/templates/service/index.ts.njk
  helper/crosslab-typescript-addon/src/templates/service/types.ts.njk
  services/device/package.json
  services/device/src/globals.ts
  services/device/src/index.ts
  services/device/src/methods/callbacks.ts
  services/device/src/methods/database/write.ts
  services/device/src/methods/signaling.ts
  services/device/src/operations.ts
  services/experiment/package-lock.json
  services/experiment/src/database/methods/find.ts
  services/experiment/src/database/methods/format.ts
  services/experiment/src/index.ts
  services/experiment/src/util/api.ts
  services/experiment/src/util/callbacks.ts
  services/experiment/src/util/experimentStatus.ts
  services/experiment/src/util/peerconnection.ts
  services/gateway/conf/device_service.conf
  services/gateway/conf/experiment_service.conf
  services/gateway/package.resolved.json
Due: none

integrates gitlab-ci
  .gitlab-ci.yml
  services/gateway/.gitignore
  services/gateway/package.resolved.json
Due: none

added ssh key
  .gitlab-ci.yml
Due: none

testing
  .gitlab-ci.yml
Due: none

test
  scripts/helper/ci.sh
  scripts/helper/download_job_artifact.sh
Due: none

repeat test
  .gitlab-ci.yml
  scripts/helper/ci.sh
  scripts/helper/download_job_artifact.sh
Due: none

bugfixing path
  clients/soa/python/package.json
Due: python_soa_client

bugfixing branch
  .gitlab-ci.yml
  clients/soa/python/package-lock.json
  package-lock.json
  scripts/helper/upload_artifacts.sh
Due: python_soa_client

verbose testing
  .gitlab-ci.yml
Due: none
